version: 2

publications:
  - url: https://oss.sonatype.org/content/groups/public/com/launchdarkly/launchdarkly-java-server-sdk-redis-store/
    description: Sonatype
  - url: https://javadoc.io/doc/com.launchdarkly/launchdarkly-java-server-sdk-redis-store
    description: documentation (javadoc.io)

jobs:
  - docker:
      image: gradle:7.3.3-jdk8
    template:
      name: gradle
    skip:
      - test  # don't try to run unit tests in the Releaser environment, since they require Redis

documentation:
  gitHubPages: true
